# GENERAL
**/build/*

# EDITOR
.vscode
.VSCodeCounter
.idea
.nvim

# PYTHON
**/__pycache__
**/.pytest_cache
.hypothesis
**/try.py
**/celerybeat-schedule

# NODE JS TS
**/node_modules/**

# SOLIDITY
**/cache
**/artifacts
**/*coverage*
**/@openzeppelin/*
**/gasReporterOutput.json

# DB
**/*.db

# SUBMODULES
